[MASTER]

init-hook='import sys; sys.path.append(".")'
extension-pkg-whitelist=numpy

[MESSAGES CONTROL]
disable=arguments-differ,unspecified-encoding

[REPORTS]

reports=yes
evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)

[MISCELLANEOUS]

notes=FIXME,XXX,TODO

[BASIC]

good-names=i,j,k,ex,Run,_,x,y,w,h,t,t0,t1,t2,t3,t4,t5,t6,t7,t8,t9,x0,x1,x2,y0,y1,y2
bad-names=foo,bar,baz,toto,tutu,tata
property-classes=abc.abstractproperty

function-rgx=[a-z_][a-z0-9_]{2,30}$
variable-rgx=[a-z_][a-z0-9_]{2,30}$
const-rgx=(([A-Z_][A-Z0-9_]*)|(__.*__))$
attr-rgx=[a-z_][a-z0-9_]{2,30}$
argument-rgx=[a-z_][a-z0-9_]{2,30}$
class-attribute-rgx=([A-Za-z_][A-Za-z0-9_]{1,30}|(__.*__))$

inlinevar-rgx=[A-Za-z_][A-Za-z0-9_]*$
class-rgx=[A-Z_][a-zA-Z0-9]+$
module-rgx=(([a-z_][a-z0-9_]*)|([A-Z][a-zA-Z0-9]+))$
method-rgx=[a-z_][a-zA-Z0-9_]{2,30}$
no-docstring-rgx=^_
docstring-min-length=3


[VARIABLES]

init-import=no

[FORMAT]

max-line-length=100
single-line-if-stmt=no
max-module-lines=500
indent-string='    '
indent-after-paren=4

[TYPECHECK]

ignored-modules=numpy,cv2,alembic,pydantic,signal,websockets
contextmanager-decorators=contextlib.contextmanager
generated-members=torch.*


[CLASSES]

defining-attr-methods=__init__,__new__,setUp
valid-classmethod-first-arg=cls
valid-metaclass-classmethod-first-arg=mcs
exclude-protected=_asdict,_fields,_replace,_source,_make,_id


[DESIGN]

max-args=5
ignored-argument-names=_.*

max-locals=15
max-returns=6
max-branches=12
max-statements=50
max-parents=7
max-attributes=7
min-public-methods=2
max-public-methods=20
max-bool-expr=5


[EXCEPTIONS]

overgeneral-exceptions=builtins.Exception
